body {
  background-image: url("./digbeth.png");
  background-size: 100%;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px yellow;
  font-size: 2em;
}

button {
  padding: 3px;
  margin: 3px;
  background-color: yellow;
  font-family: "Montserrat", sans-serif;
  box-shadow: 2px 2px black;
  border-radius: 3px;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
